@page
@{
}
<!--
    This page provides a list of all the Opportunities registered to the system. The list should support the filtering
    functions, entry deletion, and a link to the form to add a new Opportunity (OpportunityAdd.cshtml
-->
<div>
    <h1>Opportunity List</h1>
    <a asp-controller="Home" asp-action="Admin">Back to Admin Home</a>
</div>