@using PreSemesterAssignment.Models.Repositories;
@model PreSemesterAssignment.Models.Opportunity
@{
}
<!--
    This page serves as a fillable form to edit an existing Opportunity.
-->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="mb-4 text-center">Opportunity Registration Form</h1>
                    <a asp-controller="Opportunity" asp-action="OpportunityList" class="btn btn-secondary mb-4">Back to Opportunity List</a>
                    <form asp-controller="Opportunity" asp-action="SubmitEditedOpportunity" method="post">
                        <div class="mb-3">
                            <label asp-for="Center" class="form-label">Center</label>
                            <input asp-for="Center" type="text" id="Center" value="@Model.Center" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" type="text" id="Description" value="@Model.Description" class="form-control" />
                        </div>
                        <input asp-for="OppurtunityID" type="hidden" id="OppurtunityID" value="@Model.OppurtunityID" />
                        <input asp-for="DateAdded" type="hidden" id="DateAdded" value="@Model.DateAdded" />
                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-primary px-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
