@using PreSemesterAssignment.Models.Repositories;
@model PreSemesterAssignment.Models.Volunteer
@{
}
<!--
    This page serves as a fillable form to register a new Volunteer to the list.
    Can also serve as the Edit Volunteer page if fed an existing Volunteer's information.
-->
<div>
    <h1>Volunteer Registration Form</h1>
    <a asp-controller="Home" asp-action="Admin">Back to Admin Home</a>

    <!--The form for adding a new Volunteer.-->
    <form asp-controller="Volunteer" asp-action="SubmitNewVolunteer">
        <label>First Name</label>
        <input asp-for="FirstName" type="text" id="FirstName" />
        <br />

        <label>Last Name</label>
        <input asp-for="LastName" type="text" id="LastName" />
        <br />

        <label>Username</label>
        <input asp-for="Username" type=" text" id="Username" />
        <br />

        <label>Password</label>
        <input asp-for="Password" type="password" id="Password" />
        <br />

        <label>PreferedCenters</label>
        <input asp-for="PreferedCenters" type="text" id="PreferedCenters" />
        <br />

        <label>SkillsAndInterests</label>
        <input asp-for="SkillsAndInterests" type="text" id="SkillsAndInterests" />
        <br />

        <label>AvailableTimes</label>
        <input asp-for="AvailableTimes" type="text" id="AvailableTimes" />
        <br />

        <label>CurrentLicenses</label>
        <input asp-for="CurrentLicenses" type="text" id="CurrentLicenses" />
        <br />

        <label>Home Address</label>
        <input asp-for="HomeAddress" type="text" id="HomeAddress" />
        <br />

        <label>Contact Number</label>
        <input asp-for="ContactNumbers" type="text" id="ContactNumber" />
        <br />

        <label>Email Address</label>
        <input asp-for="EmailAddress" type="text" id="EmailAddress" />
        <br />

        <label>Education Level</label>
        <input asp-for="EducationLevel" type="text" id="EducationLevel" />
        <br />

        <label>Emergency Contact Name</label>
        <input asp-for="EmergencyContactName" type="text" id="ECName" />
        <br />

        <label>Emergency Contact Number</label>
        <input asp-for="EmergencyContactContactNumber" type="text" id="ECNumber" />
        <br />

        <label>Emergency Contact Home Address</label>
        <input asp-for="EmergencyContactHomeAddress" type="text" id="ECHomeAddress" />
        <br />

        <label>Emergency Contact Email Address</label>
        <input asp-for="EmergencyContactHomeAddress" type="text" id="ECEmailAddress" />
        <br />

        <label>Drivers Lincense On File?</label>
        <input asp-for="DriversLicenseOnFile" type="checkbox" id="LicenseOnFile" />
        <br />

        <label>Social Security Card On File?</label>
        <input asp-for="SSNCardOnFile" type="checkbox" id="SSNCardOnFile" />
        <br />

        <label>Approval Status:</label><br/>
            <input asp-for="ApprovalStatus" type="radio" name="ApprovalStatus" id="Pending" value="Pending" />
            <label for="Pending">Pending</label><br />

        <input asp-for="ApprovalStatus" type="radio" name="ApprovalStatus" id="Approved" value="Approved" />
            <label for="Pending">Approved</label><br />

        <input asp-for="ApprovalStatus" type="radio" name="ApprovalStatus" id="Rejected" value="Rejected" />
            <label for="Pending">Rejected</label><br />
            <br />

        <!--
            The VolunteerID field can be automatically filled when the form submits.
            It might make sense to set the ApprovalState to Pending for every new registered volunteer, but
            there might be cases where you want to add a volunteer who has already been Approved or Rejected.
        -->

        <input type="submit" value="Submit" />
    </form>
</div>