@page
@{
}
<!--
    This page serves as a fillable form to register a new Volunteer to the list.
    Can also serve as the Edit Volunteer page if fed an existing Volunteer's information.
-->
<div>
    <h1>Volunteer Registration Form</h1>
    <a asp-controller="Home" asp-action="Admin">Back to Admin Home</a>

    <!--The form for adding a new Volunteer.-->
    <form>
        <label>First Name</label>
        <input type="text" id="FirstName" />
        <br />

        <label>Last Name</label>
        <input type="text" id="LastName" />
        <br />

        <label>Username</label>
        <input type="text" id="Username" />
        <br />

        <label>Password</label>
        <input type="password" id="Password" />
        <br />

        <!--
            TODO:
            There are a few fields that may have multiple entries (Like Available times or PreferedCenters)
            where we need to be able to dynamically add more fields to the form if the user
            needs to input another field for an option (ie. one user may only have 1 available
            time, but another could have 6). We could convert those fields to a single string
            and just let the user fill it out as they see fit, but that could be less than ideal

            In particular, these fields are:
            PreferedCenters
            SkillsAndInterests
            AvailableTimes
            CurrentLicenses

            Most could probebly be main a single string, but AvailableTimes could be unideal due to time formatting
        -->

        <label>Last Name</label>
        <input type="text" id="LastName" />
        <br />

        <label>Home Address</label>
        <input type="text" id="HomeAddress" />
        <br />

        <label>Contact Number</label>
        <input type="text" id="ContactNumber" />
        <br />

        <label>Email Address</label>
        <input type="text" id="EmailAddress" />
        <br />

        <label>Education Level</label>
        <input type="text" id="LastName" />
        <br />

        <label>Emergency Contact Name</label>
        <input type="text" id="ECName" />
        <br />

        <label>Emergency Contact Number</label>
        <input type="text" id="ECNumber" />
        <br />

        <label>Emergency Contact Home Address</label>
        <input type="text" id="ECHomeAddress" />
        <br />

        <label>Emergency Contact Email Address</label>
        <input type="text" id="ECEmailAddress" />
        <br />

        <label>Drivers Lincense On File?</label>
        <input type="checkbox" id="LicenseOnFile" />
        <br />

        <label>Social Security Card On File?</label>
        <input type="checkbox" id="SSNCardOnFile" />
        <br />

        <label>Approval Status:</label><br />

        <input type="radio" name="ApprovalStatus" id="Pending" value="Pending" />
        <label for="Pending">Pending</label><br />

        <input type="radio" name="ApprovalStatus" id="Approved" value="Approved" />
        <label for="Pending">Approved</label><br />

        <input type="radio" name="ApprovalStatus" id="Rejected" value="Rejected" />
        <label for="Pending">Rejected</label><br />
        <br />

        <!--
            The VolunteerID field can be automatically filled when the form submits.
            It might make sense to set the ApprovalState to Pending for every new registered volunteer, but
            there might be cases where you want to add a volunteer who has already been Approved or Rejected.
        -->

        <input type="submit" value="Submit" />
    </form>
</div>